@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
  --font-anton: "Anton SC", sans-serif;
  --font-instrument: "Instrument Sans", sans-serif;
}
